<ul>
  <li>
    <%= @chip.chip_type %>, <%= @chip.main_ingredient %>
  </li>
</ul>

<%= link_to 'Edit chip', edit_chip_path(@chip) %><br>
<%= link_to 'Delete chip', chip_path(@chip), method: :delete %>